@import 'https://fonts.googleapis.com/css?family=Baloo+Tamma|Open+Sans:300i';

.quote-container {
  height: 100vh;
  background-color: hsla(150, 70%, 60%, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote {
  font-size: 2em;
  width: 50%;
  align-self: flex-center;
  min-height: 40%;
}

.button-container {
  width: 50%;
}

.text {
  font-family: 'Baloo Tamma', cursive;
}

.author {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  text-align: right;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#new-quote, #twitter {
  font-size: 1.2em;
  margin: 2px;
  width: 120px;
}
